* {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

a {
  color: #00B7FF;
}

.gameBoard {
  margin: 0;
  padding: 8px;
  max-width: 720px;
  border: 4px ridge black;
  background-color: #db3c36;
  color: #FFF;
}

.gameFrame {
  background-color: #000;
  width: 100%;
  clip-path: inset(4px 4px 4px 4px);
}

.gameImg {
  width: 100%;
}

.hitbox {
  position: absolute;
  background-color: transparent; 
  z-index: 1;
}

.hitbox:hover {
  border: 4px solid #00B7FF;
}

.hitbox.active {
  border: 4px ridge #00B7FF;
}

.hitbox.good {
  border: 4px solid darkgreen;
}

.hitbox.bad {
  border: 4px solid darkred;
}

.tips {
  text-align: center;
}

.water {
  top: 33.48%;
  left: 2.59%;
  width: 20.59%;
  height: 25.27%;
}

.electric {
  top: 4.71%;
  left: 27.76%;
  width: 21.18%;
  height: 30.57%;
}

.normal {
  top: 54.86%;
  left: 24.71%;
  width: 19.82%;
  height: 24.32%;
}

.fire {
  top: 52.82%;
  left: 47.65%;
  width: 18.24%;
  height: 23.20%;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  z-index: 1000; 
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.winBox {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-form {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.victory-gif {
  max-width: 280px;
}

@media only screen and (min-width: 411px) {

  .gameBoard {
    max-width: 380px;
  }
}

@media only screen and (max-width: 410px) {

  .gameBoard {
    max-width: 300px;
    min-width: 300px
  }
}